# Describing the Clean Datasets

## 01 Import libraries
## 02 Import Data
## 03 Describe the dataframes

In [1]:
import os
import numpy as np
import pandas as pd

# Set display options:
# No limit on rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# 2dp floating point
pd.options.display.float_format = '{:.2f}'.format

## 02 Import data

In [2]:
# import dataframe

pathData = r'C:\Users\Michael\Desktop\Career Foundry\02 Data Immersion Course\06 Advanced Analytics and Dashboard Design\00 Data'
econ = pd.read_csv(os.path.join(pathData, 'World Bank Cleaned', 'econgrowth_clean.csv'))
educ = pd.read_csv(os.path.join(pathData, 'World Bank Cleaned', 'education_clean.csv'))
pove = pd.read_csv(os.path.join(pathData, 'World Bank Cleaned', 'poverty_clean.csv'))

## 03 Merging based
Finding suitable columns to merge on:

In [3]:
econ.keys()

Index(['Unnamed: 0', 'Country Name', 'Year',
       'GDP per capita (constant 2015 US$)',
       'GDP per capita growth (annual %)',
       'GNI per capita (constant 2015 US$)',
       'GNI per capita growth (annual %)'],
      dtype='object')

In [4]:
educ.keys()

Index(['Country Name', 'Year',
       'Adolescents out of school (% of lower secondary school age)',
       'Adolescents out of school, female (% of female lower secondary school age)',
       'Adolescents out of school, male (% of male lower secondary school age)',
       'Children out of school (% of primary school age)',
       'Children out of school, female (% of female primary school age)',
       'Children out of school, male (% of male primary school age)',
       'Government expenditure on education, total (% of GDP)',
       'Primary completion rate, female (% of relevant age group)',
       'Primary completion rate, male (% of relevant age group)',
       'Primary completion rate, total (% of relevant age group)',
       'School enrollment, primary (% net)',
       'School enrollment, primary, female (% net)',
       'School enrollment, primary, male (% net)',
       'School enrollment, secondary (% net)',
       'School enrollment, secondary, female (% net)',
       'School enrollment, secondary, male (% net)'],
      dtype='object')

In [5]:
pove.keys()

Index(['Country Name', 'Year', 'Gini index',
       'Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)',
       'Poverty headcount ratio at $3.65 a day (2017 PPP) (% of population)',
       'Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population)',
       'Poverty headcount ratio at national poverty lines (% of population)'],
      dtype='object')

In [6]:
econ_educ = econ.merge(educ, on = ['Country Name', 'Year'])

In [7]:
econ_educ_pove = econ_educ.merge(pove, on = ['Country Name', 'Year'])

In [8]:
econ_educ_pove.head()

,Unnamed: 0,Country Name,Year,GDP per capita (constant 2015 US$),GDP per capita growth (annual %),GNI per capita (constant 2015 US$),GNI per capita growth (annual %),Adolescents out of school (% of lower secondary school age),"Adolescents out of school, female (% of female lower secondary school age)","Adolescents out of school, male (% of male lower secondary school age)",Children out of school (% of primary school age),"Children out of school, female (% of female primary school age)","Children out of school, male (% of male primary school age)","Government expenditure on education, total (% of GDP)","Primary completion rate, female (% of relevant age group)","Primary completion rate, male (% of relevant age group)","Primary completion rate, total (% of relevant age group)","School enrollment, primary (% net)","School enrollment, primary, female (% net)","School enrollment, primary, male (% net)","School enrollment, secondary (% net)","School enrollment, secondary, female (% net)","School enrollment, secondary, male (% net)",Gini index,Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population),Poverty headcount ratio at $3.65 a day (2017 PPP) (% of population),Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population),Poverty headcount ratio at national poverty lines (% of population)
0,0,Afghanistan,1996,359.77,0.93,597.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.68,65.57,99.36,82.91,NaN,NaN,NaN,26.56,14.40,37.99,NaN,NaN,NaN,NaN,33.70
1,1,Afghanistan,1997,359.77,0.93,597.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.68,65.57,99.36,82.91,NaN,NaN,NaN,26.56,14.40,37.99,NaN,NaN,NaN,NaN,33.70
2,2,Afghanistan,1998,359.77,0.93,597.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.68,65.57,99.36,82.91,NaN,NaN,NaN,26.56,14.40,37.99,NaN,NaN,NaN,NaN,33.70
3,3,Afghanistan,1999,359.77,0.93,597.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.68,65.57,99.36,82.91,NaN,NaN,NaN,26.56,14.40,37.99,NaN,NaN,NaN,NaN,33.70
4,4,Afghanistan,2000,359.77,0.93,597.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.68,65.57,99.36,82.91,NaN,NaN,NaN,26.56,14.40,37.99,NaN,NaN,NaN,NaN,33.70

In [9]:
econ_educ_pove.to_csv(os.path.join(pathData, 'World Bank Cleaned', 'eco_edu_pov.csv'), index=False)

In [10]:
econ_educ_pove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4758 entries, 0 to 4757
Data columns (total 28 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   Unnamed: 0                                                                  4758 non-null   int64
 1   Country Name                                                                4758 non-null   object
 2   Year                                                                        4758 non-null   int64
 3   GDP per capita (constant 2015 US$)                                          4732 non-null   float64
 4   GDP per capita growth (annual %)                                            4758 non-null   float64
 5   GNI per capita (constant 2015 US$)                                          4732 non-null   float64
 6   GNI per capita growth (annual %)                                            4160 non-null   float64
 7   Adolescents out of school (% of lower secondary school age)                 4238 non-null   float64
 8   Adolescents out of school, female (% of female lower secondary school age)  4004 non-null   float64
 9   Adolescents out of school, male (% of male lower secondary school age)      4004 non-null   float64
 10  Children out of school (% of primary school age)                            4446 non-null   float64
 11  Children out of school, female (% of female primary school age)             4264 non-null   float64
 12  Children out of school, male (% of male primary school age)                 4264 non-null   float64
 13  Government expenditure on education, total (% of GDP)                       4654 non-null   float64
 14  Primary completion rate, female (% of relevant age group)                   4576 non-null   float64
 15  Primary completion rate, male (% of relevant age group)                     4576 non-null   float64
 16  Primary completion rate, total (% of relevant age group)                    4628 non-null   float64
 17  School enrollment, primary (% net)                                          4628 non-null   float64
 18  School enrollment, primary, female (% net)                                  4498 non-null   float64
 19  School enrollment, primary, male (% net)                                    4498 non-null   float64
 20  School enrollment, secondary (% net)                                        4342 non-null   float64
 21  School enrollment, secondary, female (% net)                                4342 non-null   float64
 22  School enrollment, secondary, male (% net)                                  4342 non-null   float64
 23  Gini index                                                                  4290 non-null   float64
 24  Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)         4654 non-null   float64
 25  Poverty headcount ratio at $3.65 a day (2017 PPP) (% of population)         4654 non-null   float64
 26  Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population)         4654 non-null   float64
 27  Poverty headcount ratio at national poverty lines (% of population)         4004 non-null   float64
dtypes: float64(25), int64(2), object(1)
memory usage: 1.0+ MB